<div class="container">
    <h1>Employee Pay Period Check</h1>
    <div class="viewCycle">
        <h3>Name: <%=emp.f_name%> <%=emp.l_name%></h3>
        <h3>Hours Worked: <%=emp.hours_worked%></h3>
        <h3>Overtime: <%=emp.overtime%></h3>
        <h3>Sick days taken: <%=emp.sick_days%></h3>
        <h3>Payment Status: <%=emp.payment_status%></h3>
        <h3>Pay Period: <%=emp.pay_period%></h3>
    </div>
</div>